<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Info</title>
    <link rel="stylesheet" href="/css/book-info.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Catamaran' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
</head>
<body>
    <div id="nav">
        <button id="home">Home</button>
        <h2 id="my-books">My Books</h2>
    </div>
    <div id="book-container">

    </div>
    <div id="info-container">
        <p id="library-status">Library Rental Status: {{ status }}</p>
    </div>
    <script src="/js/APIKeys.js"></script>
    <script src="/js/book-info.js"></script>
</body>
</html>