body {
  background-color: white;
  margin: 0;
  padding: 0;
}

#my-books {
  font-family: 'Catamaran';
  color: white;
}

.book-status-header {
  font-family: 'Catamaran';
  color: #4740C4;
  margin-left: 1.5vw;
  text-decoration: underline;
}

#loading {
  background: url(./images/Spinner-3s-200px.gif) no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
}

#logout {
  float: right;
  margin-right: 15px;
  background-color: #4740C4;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

#logout:hover {
  background-color: RoyalBlue;
}

#add-book {
  float: left;
  margin-left: 15px;
  background-color: #4740C4;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

#add-book:hover {
  background-color: RoyalBlue;
}

#my-books {
  display: inline;
}

#nav {
  top: 0px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: flex;
  background-color: #e62739;
}

/* Modal Box */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 70vmin;
  max-width: 100%;
  border-radius: 0.5rem; 
  border-radius: 0.5rem; 
  overflow: auto;
}

#modalHeader {
  font-family: 'Catamaran';
}

.close {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
    justify-self: end;
    align-self: center;
}
.close:hover {
    background-color: darkgray;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.add-book-btn {
  background-color: #4740C4;
  border-radius: 5px;
  color: white;
  padding: 16px 20px;
  margin-top: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.add-book-btn:hover {
  opacity:1;
}

@media screen and (max-width: 300px) {
  .add-book-btn {
    width: 100%;
  }
}

#add-book-confirm {
  text-align: center;
  font-family: 'Open Sans'
}

/* Styling for books */
#container-read, #container-want-read {
  display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-top: 10px;
}

#container-read .item, #container-want-read .item {
  flex: 0 0 200px;
  box-sizing: border-box;
  color: #171e42;
  padding: 10px;
	margin-left: 10px;
	margin-top: 10px;
}

.item {
  border-radius: 5%;
  overflow: hidden;
  transform: translateY(0px);
  transition: 0.5s;
}

.item:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 33px -3px	#A9A9A9;
  -moz-box-shadow: 0px 0px 33px -3px	#A9A9A9;
  box-shadow: 0px 0px 33px -3px	#A9A9A9;
  transform: translateY(-5px);
  transition: 0.5 ease-out;
}

.title {
  font-size: 19px;
  padding-bottom: 4px;
  font-weight: 600px;
  font-family: 'Open Sans';
}

.author {
  font-size: 14px;
  font-family: 'Open Sans';
}

.info {
  padding: 3%;
}

.cover {
  margin-left: auto;
  margin-right: auto;
}